/* 所有页面背景 */

#recent-posts>.recent-post-item,
.layout>div:first-child:not(.recent-posts),
#aside-content .card-widget {
    background: rgba(255, 255, 255, .8);
}


/* 取消页脚背景 */

#footer {
    background: none;
}


/* card卡片图片填充 */


/* #recent-posts>.recent-post-item .post_cover img.post_bg {
    object-fit: fill !important;
} */


/* 修改字体 */

@font-face {
    font-family: 'tzy';
    /* 字体名自定义即可 */
    src: url('https://cdn.jsdelivr.net/gh/tzy13755126023/BLOG_SOURCE/font/ZhuZiAWan.woff2');
    /* 字体文件路径 */
    font-display: swap;
}

body,
.gitcalendar {
    font-family: tzy !important;
}


/* 滚动条修改 */

::-webkit-scrollbar-track {
    border-radius: 2em;
    background-color: rgba(204, 226, 255, 1);
}

::-webkit-scrollbar-thumb {
    background-color: #49b1f5;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-corner {
    background-color: transparent
}


/* 优化magnet插件卡片不对齐问题 */

.magnet_item {
    margin: 0px 2px;
}

#catalog_magnet {
    justify-content: center !important;
    /*原本为space-between*/
}